# autoconf
*.cache

# env secrets
.env
.venv

# docs
docs/_build

# cmake
compile_commands.json

# neon
cargo.log
js/*.node
tsconfig.lib.tsbuildinfo

.west

/build
*.DS_Store
__pycache__
build/
node_modules/

# cargo
/target  
**/*/target
**/*.rs.bk
**/*/Cargo.lock
